body{
    background-color: #22252C;
}
header{
    display: flex;
    background-color: #5970C1;
    color: white;
    align-items: center;
    justify-content: space-between;
    font-family: poppins-medium;
    
}
nav{
    font-size: 1.3rem;
    gap: 63px;
    display: flex;
    z-index: 100;
}
nav button{
    color: white;
    border-radius: 20px;
    background-color: transparent;
    border: none;
    font-size: 1.3rem;
    font-family: poppins-medium;
    width: max-content;
}
nav button:hover{
    color: #21AC91;
    background-color: #FEFEFE;
  }
.editor-section{
    display: flex;
    gap: 70px;
    margin-top: 20px;
    display: flex;
    justify-self: center;
}
.gallery-section,.memes-section{
    margin-top: 15px;
}

