header{
    display: flex;
    background-color: #5970C1;
    color: white;
    align-items: center;
    justify-content: space-between;
    height: 76px;
    border-radius: 999px;
    font-family: poppins-medium;
}
nav{
    font-size: 1.3rem;
    gap: 63px;
    display: flex;
}
.editor-section{
    display: flex;
    gap: 70px;
    margin-top: 20px;
    display: flex;
}
.gallery-section{
    margin-top: 15px;
}
