.download-btn{
    border-radius: 20px;
    font-family: poppins-medium;
    color: white;
    border: none;
    background-color: #8F44BB;
    display: flex;
    gap: 14px;
    align-items: center;
    justify-content: center;
}