.line-text{
    height: 50px;
    border-radius: 40px;
    margin-top: 15px;
    border:  none;
    font-family: poppins-medium;
    color: #3D3D3D;
    text-align: center;
    background-color: #EBEEF3;
}