@media (min-width:740px) {
    .gallery-container{
    grid-template-columns: repeat(5,minmax(100px,1fr));
    background-color: #383B42;
    padding: 40px;
    gap: 25px;
    border-radius: 20px;
  }  
  header{
    height: 76px;
    border-radius: 999px;
  }
  h1{
font-size: 1.35625rem;    
}
  nav{
    flex-direction: row;
    margin-right: 247px;
  }
  nav button{
    width: 119px;
    height: 43px;
  }
  h1{
    margin-left: 125px;
  }
  .editor-container{
    width: 528px;
    height: 549px;
  }
  .canvas-container{
    width: 546px;
    height: 546px;
  }
  .line-text{
    width: 447px;
    height: 59px;
    font-size: 1.56rem;
  }
  .menu-btn{
    display: none;
  }
  .download-btn,.share-btn{
width: 215px;
height: 53px;
font-size: 1.3rem;
  }
  .add-switch-delete-buttons-container{
    gap: 19px;
  }
  .add-switch-delete-buttons-container button{
    height: 55px;
    width: 60px;
    font-size: 3.2rem;
  }
  .edit-line-container{
    width: 447px;
    padding: 10px;
    grid-template-columns: repeat(5,minmax(60px,1fr));
    gap: 20px;
  }
  .edit-line-container button{
    height: 60px;
    width: 60px;
    font-size: 2rem;
    font-family: poppins-medium;
  }
  select{
    width: 240px;
    height: 60px;
    font-size: 1.7rem;
    border-radius: 15px;
    border: none;
  }
  .color-btn{
    width: 60px;
    height: 60px;
    font-size: 1.7rem;
    border-radius: 15px;
    border: none;
  }
  .download-share-container{
    gap: 20px;
  }
   }
   /* mobile */
@media (max-width:740px) {
  .gallery-container{
    grid-template-columns: repeat(2,minmax(200px,1fr));
    gap: 10px;
  }  
  header{
    height: 147px;
    
  }
  h1{
font-size: 2.73125rem;    
}
  nav{
    position: fixed;
        right: 0;
        top: 0;
        height: 100dvh;
        min-width: 200px;
        border-inline-start: 1px solid #ccc;
        background-color: #5970C1;
        transform: translateX(100%);
        transition: transform .6s, box-shadow .6s;
        flex-direction: column;
  }
  nav button{
    text-align: center;
  }
  nav button:nth-child(1){
    margin-top: 150px;
  }
  h1{
    margin-left: 60px;
  }
  .editor-container{
    width: 300px;
    height: 400px;
    gap: 10px;
  }
  .add-switch-delete-buttons-container{
    gap: 10px;
  }
  .add-switch-delete-buttons-container button{
    width: 40px;
    height: 40px;
    font-size: 1.6rem;
  }
  .edit-line-container{
    width: 240px;
    grid-template-columns: repeat(5,minmax(30px,1fr));
    gap: 5px;
    padding: 5px;
    margin-inline: 30px;
  }
  .edit-line-container button{
    width: 40px;
    height: 40px;
    font-size: 1.5rem;
  }
  .download-share-container{
    gap: 20px;
    margin-inline: auto;
  }
  .download-btn,.share-btn{
width: 115px;
height: 53px;
font-size: 1.3rem;
  }
  .canvas-container{
    width: 300px;
    height: 300px;
  }
  .line-text{
    width: 200px;
    font-size: 1.25rem;
    margin-inline: 50px;
  }
  .menu-btn{
    display: block;
  }
  body.menu-open nav {
        transform: translateX(0);
        box-shadow: -10px 0px 50px rgb(0 0 0 / 50%);
    }
    .download-btn,.share-btn{
    width: 120px;
    font-size: 0.8rem;
  }
}



